.a3{
  color: #66bafa;
  text-decoration: none;
}
h1{
    text-align: center;
    font-weight: 500;
    
}
.a4{
    color: #008af3;
    text-decoration: none;
    
    
}
.p1{
  font-weight: bold;
  
}
.a6{
  text-decoration: none;
  color: #5280ff;
}
.p2{
  text-align: center;
  font-weight: bold;
  
}